.button{
    border: solid 1px;
    background: transparent;
    border-radius: 10px;
    position: relative;
    color: white;
    font-size: large;
    
    
}

.button:hover {
    animation: pulse 1.5s infinite;
    animation-timing-function: linear;

}
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
body{ 
    height: 500px;
    background: content-box radial-gradient(purple 20%, blue 30%, black, grey);
    background-color: silver;
    background-repeat: no-repeat;
    
}

#Me{
    position: absolute; left: 25%; top: 10%;
}
#skills{
    position: absolute; left: 60%; top: 10%;
}
#projects{
    position: absolute; left: 11%; top: 40%;
}
#contact{
    position: absolute;left: 73%; top: 40%;
}
#aboutMe{
    color: aliceblue;
}

#MySkills{
    position: relative; top: 2000px;
}