/* These codes are for the background color only */
.container {
    display: grid; 
    grid-template-columns: 8% 84% 8%; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "spaceone bg spacetwo"
      "spaceone bg spacetwo"
      "spaceone bg spacetwo"; 
  }

.spaceone { grid-area: spaceone; }
.spacetwo { grid-area: spacetwo; }

.bg { grid-area: bg; 
    height: 1000px;
    background: content-box radial-gradient(purple 30%, blue 40%, black, grey, grey, grey);
    background-color: silver;
    background-repeat: no-repeat;
    position: static;
  }
  
.spaceone{
    background: linear-gradient(to right, white 10%, lightgrey 30%, grey 80%);
  }
.spacetwo{
    background: linear-gradient(to right, grey 40%, lightgrey 80%, white 90%);
  }

  /* These codes are for the buttons to be positioned into a grid */



.button{
    border: solid 1px;
    background: transparent;
    border-radius: 10px;
    position: relative;
    color: white;
    font-size: large;
    
    
}

.button:hover {
    animation: pulse 1.5s infinite;
    animation-timing-function: linear;

}

a{
    color: white;
    text-decoration: none;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}


#Me{
    position: absolute; left: 25%; top: 10%;
}
#resume{
    position: absolute; left: 60%; top: 10%;
}
#projects{
    position: absolute; left: 11%; top: 40%;
}
#contact{
    position: absolute;left: 73%; top: 40%;
}
#aboutMe{
    color: aliceblue;
}

#MySkills{
    position: relative; top: 2000px;
}
